<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <!-- revolution slider begin -->
    <section id="section-slider" class="fullwidthbanner-container text-light" aria-label="section-slider">
        <div id="slider-revolution">
            <ul>
                <li data-transition="fade" data-slotamount="10" data-masterspeed="300" data-thumb="">
                    <!--  BACKGROUND IMAGE -->
                    <img alt="" class="rev-slidebg" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" src="../../images/slider/1.jpg">
                    <div class="tp-caption big-s1" data-x="0" data-y="230" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_in="y:100px;opacity:0;s:500;e:Power2.easeOut;" data-transform_out="opacity:0;y:-100;s:200;e:Power2.easeInOut;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                        <h3>Auto Insurance</h3>
                    </div>
                    <div class="tp-caption very-big-white tp-resizeme" data-x="0" data-y="280" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_in="y:100px;opacity:0;s:500;e:Power2.easeOut;" data-transform_out="opacity:0;y:-100;s:400;e:Power2.easeInOut;" data-start="600" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                        <h1>Better Auto Care</h1>
                    </div>
                    <div class="tp-caption" data-x="0" data-y="360" data-width="480" data-height="none" data-whitespace="wrap" data-transform_in="y:100px;opacity:0;s:500;e:Power2.easeOut;" data-transform_out="opacity:0;y:-100;s:600;e:Power2.easeInOut;" data-start="700">
                        <p class="lead xs-hide">Understanding auto insurance—the basics Auto insurance is a contract between you and the insurance company that protects you against financial loss in the event of an accident or theft. In exchange for your paying a premium, the insurance company agrees to pay your losses as outlined in your policy.</p>
                    </div>

                </li>
                <li data-transition="fade" data-slotamount="10" data-masterspeed="300" data-thumb="">
                    <!--  BACKGROUND IMAGE -->
                    <img alt="" class="rev-slidebg" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" src="../../images/slider/2.jpg">
                    <div class="tp-caption big-s1" data-x="0" data-y="230" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_in="y:100px;opacity:0;s:500;e:Power2.easeOut;" data-transform_out="opacity:0;y:-100;s:200;e:Power2.easeInOut;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                        <h4 class="id-color-secondary">Auto Insurance</h4>
                    </div>
                    <div class="tp-caption very-big-white tp-resizeme" data-x="0" data-y="280" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_in="y:100px;opacity:0;s:500;e:Power2.easeOut;" data-transform_out="opacity:0;y:-100;s:400;e:Power2.easeInOut;" data-start="600" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                        <h1>You &amp; Your Car Protection</h1>
                    </div>
                    <div class="tp-caption" data-x="0" data-y="360" data-width="480" data-height="none" data-whitespace="wrap" data-transform_in="y:100px;opacity:0;s:500;e:Power2.easeOut;" data-transform_out="opacity:0;y:-100;s:600;e:Power2.easeInOut;" data-start="700">
                        <p class="lead xs-hide">Car insurance is effectively a contract between yourself and an insurance company in which you agree to pay premiums in exchange for protection against financial losses stemming from an accidents</p>
                    </div>
                    <div class="tp-caption" data-x="0" data-y="450" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_in="y:100px;opacity:0;s:500;e:Power2.easeOut;" data-transform_out="opacity:0;y:-100;s:800;e:Power2.easeInOut;" data-start="800">
                        <a class="btn-custom invert" href=@Url.Action("SignUp","Home")>Get Insurance</a>&nbsp;
                    </div>
                </li>
        </div>
        </li>
        </ul>
</div>
            </section>
<!-- revolution slider close -->

<section class="pt40 pb40 bg-color-secondary">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8 mb-sm-30">
                <h3 class="no-bottom">To Get Insurance Go Get Yourself Register.</h3>
            </div>

            <div class="col-md-4 text-right">
                <a href="@Url.Action("SignUp","Home")" class="btn-custom">Get Insurance</a>
            </div>
        </div>
    </div>
</section>

<section id="section-highlight" class="relative" data-bgcolor="#F2F6FE">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <span class="p-title invert">Welcome</span><br>
                <h2>
                    Plan for the future<br>and live your life now
                </h2>
                <div class="small-border sm-left"></div>
            </div>
            <div class="col-md-6">
                <p>
                    Car insurance is designed to protect you against financial losses if you're involved in an accident or the vehicle is damaged in some way.Most states require you to have minimum amounts of liability insurance coverage; some also require you to have other coverage types, such as uninsured motorist coverage.
                </p>
            </div>
        </div>

        <div class="spacer-double"></div>

    </div>
</section>

<section class="no-top relative z1000">
    <div class="container">
        <div class="row mt-100">
            <div class="col-md-4 wow fadeInRight" data-wow-delay=".2s">
                <div class="mask rounded">
                    <div class="cover rounded">
                        <div class="c-inner">
                            <h3><i class="icofont-people"></i><span>Two Wheeler Insurance</span></h3>
                            <p>Two-wheeler insurance is an insurance plan focused on protection and coverage for bikes.</p>
                            <div class="spacer20"></div>
                            
                        </div>
                    </div>
                    <img src="../../images/services/1.jpg" alt="" class="img-responsive" />
                </div>
            </div>

            <div class="col-md-4 wow fadeInRight" data-wow-delay=".4s">
                <div class="mask rounded">
                    <div class="cover rounded">
                        <div class="c-inner">
                            <h3><i class="icofont-home"></i><span>Four Wheeler Insurance</span></h3>
                            <p>4 wheeler insurance is an insurance that is specifically designed for vehicles that are not automobiles.</p>
                            <div class="spacer20"></div>
                            
                        </div>
                    </div>
                    <img src="../../images/services/2.jpg" alt="" class="img-responsive" />
                </div>
            </div>

            <div class="col-md-4 wow fadeInRight" data-wow-delay=".6s">
                <div class="mask rounded">
                    <div class="cover rounded">
                        <div class="c-inner">
                            <h3><i class="icofont-car-alt-1"></i><span>Auto Insurance</span></h3>
                            <p>Auto insurance is a contract between you and the insurance company that protects you against financial loss in the event of an accident or theft.</p>
                            <div class="spacer20"></div>
                            
                        </div>
                    </div>
                    <img src="../../images/services/3.jpg" alt="" class="img-responsive" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- content close -->