
<!DOCTYPE html>
<html lang="zxx">

<!-- Mirrored from demo.dashboardpack.com/sales-html/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 29 Jan 2022 08:30:52 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Marketing</title>
    <link rel="icon" href="~/AdminAssets/img/logo.png" type="image/png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/AdminAssets/css/bootstrap.min.css" />
    <!-- themefy CSS -->
    <link rel="stylesheet" href="~/AdminAssets/vendors/themefy_icon/themify-icons.css" />
    <!-- select2 CSS -->
    <link rel="stylesheet" href="~/AdminAssets/vendors/niceselect/css/nice-select.css" />
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/AdminAssets/vendors/owl_carousel/css/owl.carousel.css" />
    <!-- gijgo css -->
    <link rel="stylesheet" href="~/AdminAssets/vendors/gijgo/gijgo.min.css" />
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/AdminAssets/vendors/font_awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/AdminAssets/vendors/tagsinput/tagsinput.css" />
    <!-- date picker -->
    <link rel="stylesheet" href="~/AdminAssets/vendors/datepicker/date-picker.css" />
    <link rel="stylesheet" href="~/AdminAssets/vendors/vectormap-home/vectormap-2.0.2.css" />

    <!-- scrollabe  -->
    <link rel="stylesheet" href="~/AdminAssets/vendors/scroll/scrollable.css" />
    <!-- datatable CSS -->
    <link rel="stylesheet" href="~/AdminAssets/vendors/datatable/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/AdminAssets/vendors/datatable/css/responsive.dataTables.min.css" />
    <link rel="stylesheet" href="~/AdminAssets/vendors/datatable/css/buttons.dataTables.min.css" />
    <!-- text editor css -->
    <link rel="stylesheet" href="~/AdminAssets/vendors/text_editor/summernote-bs4.css" />
    <!-- morris css -->
    <link rel="stylesheet" href="~/AdminAssets/vendors/morris/morris.css">
    <!-- metarial icon css -->
    <link rel="stylesheet" href="~/AdminAssets/vendors/material_icon/material-icons.css" />
    <!-- menu css  -->
    <link rel="stylesheet" href="~/AdminAssets/css/metisMenu.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/AdminAssets/css/style.css" />
    <link rel="stylesheet" href="~/AdminAssets/css/colors/default.css" id="colorSkinCSS">
</head>
<body class="crm_body_bg">


    <!-- main content part here -->
    <!-- sidebar  -->
    <nav class="sidebar vertical-scroll  ps-container ps-theme-default ps-active-y">
        <div class="logo d-flex justify-content-between">
            <a href="index-2.html"><img src="~/AdminAssets/img/logo.png" alt=""></a>
            <div class="sidebar_close_icon d-lg-none">
                <i class="ti-close"></i>
            </div>
        </div>
        <ul id="sidebar_menu">
            <li class="mm-active">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="icon_menu">
                        <img src="~/AdminAssets/img/menu-icon/dashboard.svg" alt="">
                    </div>
                    <span>Dashboard</span>
                </a>
                <ul>
                    <li><a class="active" href="index-2.html">Marketing</a></li>
                    <li><a href="index_2.html">Default</a></li>
                    <li><a href="index_3.html">Dark Menu</a></li>
                </ul>
            </li>
            <li class="">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="icon_menu">
                        <img src="~/AdminAssets/img/menu-icon/2.svg" alt="">
                    </div>
                    <span>Product</span>
                </a>
                <ul>
                    <li><a href="@Url.Action("Orders","Admin")">Orders</a></li>
                </ul>
            </li>
 <!--/ sidebar  -->
    @RenderBody()
    <!-- footer  -->
    <script src="~/AdminAssets/js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="~/AdminAssets/js/popper.min.js"></script>
    <!-- bootstarp js -->
    <script src="~/AdminAssets/js/bootstrap.min.js"></script>
    <!-- sidebar menu  -->
    <script src="~/AdminAssets/js/metisMenu.js"></script>
    <!-- waypoints js -->
    <script src="~/AdminAssets/vendors/count_up/jquery.waypoints.min.js"></script>
    <!-- waypoints js -->
    <script src="~/AdminAssets/vendors/chartlist/Chart.min.js"></script>
    <!-- counterup js -->
    <script src="~/AdminAssets/vendors/count_up/jquery.counterup.min.js"></script>
    <!-- nice select -->
    <script src="~/AdminAssets/vendors/niceselect/js/jquery.nice-select.min.js"></script>
    <!-- owl carousel -->
    <script src="~/AdminAssets/vendors/owl_carousel/js/owl.carousel.min.js"></script>
    <!-- responsive table -->
    <script src="~/AdminAssets/vendors/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminAssets/vendors/datatable/js/dataTables.responsive.min.js"></script>
    <script src="~/AdminAssets/vendors/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/AdminAssets/vendors/datatable/js/buttons.flash.min.js"></script>
    <script src="~/AdminAssets/vendors/datatable/js/jszip.min.js"></script>
    <script src="~/AdminAssets/vendors/datatable/js/pdfmake.min.js"></script>
    <script src="~/AdminAssets/vendors/datatable/js/vfs_fonts.js"></script>
    <script src="~/AdminAssets/vendors/datatable/js/buttons.html5.min.js"></script>
    <script src="~/AdminAssets/vendors/datatable/js/buttons.print.min.js"></script>
    <!-- datepicker  -->
    <script src="~/AdminAssets/vendors/datepicker/datepicker.js"></script>
    <script src="~/AdminAssets/vendors/datepicker/datepicker.en.js"></script>
    <script src="~/AdminAssets/vendors/datepicker/datepicker.custom.js"></script>
    <script src="~/AdminAssets/js/chart.min.js"></script>
    <script src="~/AdminAssets/vendors/chartjs/roundedBar.min.js"></script>
    <!-- progressbar js -->
    <script src="~/AdminAssets/vendors/progressbar/jquery.barfiller.js"></script>
    <!-- tag input -->
    <script src="~/AdminAssets/vendors/tagsinput/tagsinput.js"></script>
    <!-- text editor js -->
    <script src="~/AdminAssets/vendors/text_editor/summernote-bs4.js"></script>
    <script src="~/AdminAssets/vendors/am_chart/amcharts.js"></script>
    <!-- scrollabe  -->
    <script src="~/AdminAssets/vendors/scroll/perfect-scrollbar.min.js"></script>
    <script src="~/AdminAssets/vendors/scroll/scrollable-custom.js"></script>
    <!-- vector map  -->
    <script src="~/AdminAssets/vendors/vectormap-home/vectormap-2.0.2.min.js"></script>
    <script src="~/AdminAssets/vendors/vectormap-home/vectormap-world-mill-en.js"></script>
    <!-- apex chrat  -->
    <script src="~/AdminAssets/vendors/apex_chart/apex-chart2.js"></script>
    <script src="~/AdminAssets/vendors/apex_chart/apex_dashboard.js"></script>
    <script src="~/AdminAssets/vendors/echart/echarts.min.js"></script>

    <script src="~/AdminAssets/vendors/chart_am/core.js"></script>
    <script src="~/AdminAssets/vendors/chart_am/charts.js"></script>
    <script src="~/AdminAssets/vendors/chart_am/animated.js"></script>
    <script src="~/AdminAssets/vendors/chart_am/kelly.js"></script>
    <script src="~/AdminAssets/vendors/chart_am/chart-custom.js"></script>
    <!-- custom js -->
    <script src="~/AdminAssets/js/dashboard_init.js"></script>
    <script src="~/AdminAssets/js/custom.js"></script>
</body>
<!-- Mirrored from demo.dashboardpack.com/sales-html/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 29 Jan 2022 08:32:15 GMT -->
</html>
